# Target Cloud for the migration
cloud: "AzurePublic"

# Use this setting to specify the Azure Management Group IDs to target for the migration
managementGroupIDs:
  # ALZ Root Management Group ID
  - "alz"

# Use this setting to filter out deployed resources in Azure that are not important for the migration to avoid noise
ignoreResourceIDPatterns:
  # Ignore policy assignments at subscriptipn scope
  - "/subscriptions/.*/providers/Microsoft.Authorization/policyAssignments"

# Use this setting to filter out resources from the Terraform module that are not important for the migration to avoid noise
ignoreResourceTypePatterns:
  # Ignore telemetry resources
  - "random_uuid.telemetry"
  - "modtm"
  # Ignore connectivity modules
  - "module.virtual_wan"
  - "module.hub_and_spoke_vnet"
  - "module.resource_groups"
  - "module.management_resources"
  # Ignore ancilliary resources
  - "terraform_data"
  - "time_sleep"
  # Ignore role assignment for policy assignments
  - "module.management_groups.azapi_resource.policy_role_assignments"
  # Ignore subscription placement since it is not something we need to import
  #- "module.management_groups.azapi_resource.subscription_placement"

# Use the section to determine which resources to read from the Azure Subscriptions
# Interface must match `id`, `name`, `type`, `location`, `subscriptionId`, `resourceGroup`
resourceGraphQueries:
  - name: "Management Groups"
    scope: "ManagementGroup"
    query: |
      resourcecontainers
      | where type == "microsoft.management/managementgroups"
      | project id, name, type, location, subscriptionId, resourceGroup
  - name: "Management Group Subscriptions"
    scope: "ManagementGroup"
    query: |
      resourcecontainers
      | where type == "microsoft.resources/subscriptions"
      | extend mnagementGroup = properties.managementGroupAncestorsChain[0].name
      | extend subscriptionPlacement =  strcat("/providers/Microsoft.Management/managementGroups/", mnagementGroup, id)
      | project id = subscriptionPlacement, name, type, location, subscriptionId, resourceGroup
  - name: "Policy Definitions"
    scope: "ManagementGroup"
    query: |
      policyresources
      | where type == "microsoft.authorization/policydefinitions"
      | project id, name, type, location, subscriptionId, resourceGroup
  - name: "Policy Set Definitions"
    scope: "ManagementGroup"
    query: |
      policyresources
      | where type == "microsoft.authorization/policysetdefinitions"
      | project id, name, type, location, subscriptionId, resourceGroup
  - name: "Policy Assignments"
    scope: "ManagementGroup"
    query: |
      policyresources
      | where type == "microsoft.authorization/policyassignments"
      | project id, name, type, location, subscriptionId, resourceGroup
  - name: "Role Definitions"
    scope: "ManagementGroup"
    query: |
      authorizationresources
      | where type == "microsoft.authorization/roledefinitions"
      | where properties.type == "CustomRole"
      | project id = strcat(properties.assignableScopes[0], id), name, type, location, subscriptionId, resourceGroup
  - name: "Role Assignments for Policy Assignments"
    scope: "ManagementGroup"
    query: |
      authorizationresources
      | where type == "microsoft.authorization/roleassignments"
      | where properties.description != "Created by ALZ Terraform provider. Assignment required for Azure Policy."
      | extend principalId = tostring(properties.principalId)
      | join kind=inner(
      policyresources
      | where type == "microsoft.authorization/policyassignments"
      | where isnotnull(identity)
      | extend bag_key = tostring(bag_keys(identity.userAssignedIdentities)[0])
      | extend bag_value = identity.userAssignedIdentities[bag_key]
      | extend principalId = tostring(coalesce(bag_value.principalId, identity.principalId))
      ) on principalId
      | project id, name, type, location, subscriptionId, resourceGroup

# Use this section to specify any custom name formats for mapping where a standard `name` property does not exist or is not unique
nameFormats:
  - type: Microsoft.Authorization/policyAssignments
    nameFormat: "%s/providers/Microsoft.Authorization/policyAssignments/%s"
    nameMatchType: IDEndsWith
    nameFormatArguments:
      - parent_id
      - name
  - type: Microsoft.Authorization/policyDefinitions
    nameFormat: "%s/providers/Microsoft.Authorization/policyDefinitions/%s"
    nameMatchType: IDEndsWith
    nameFormatArguments:
      - parent_id
      - name
  - type: Microsoft.Authorization/policySetDefinitions
    nameFormat: "%s/providers/Microsoft.Authorization/policySetDefinitions/%s"
    nameMatchType: IDEndsWith
    nameFormatArguments:
      - parent_id
      - name
  - type: Microsoft.Management/managementGroups/subscriptions
    nameFormat: "%s/subscriptions/%s"
    nameMatchType: IDEndsWith
    nameFormatArguments:
      - parent_id
      - name

deleteCommands:
  - type: microsoft.authorization/roleassignments
    command: "az role assignment delete --ids %s"
